body{
  padding: 3%;
  background: rgba(0, 0, 0, 0.2);
}
.role{
  color: green;
}
.lic{
color: red
}

li{
  list-style-type:none;
  margin-top: 0.5%;
  padding:0.3%;
}
a:visited{
color: black
}
a:hover{
  background-color: green
}
a{
  color: black;
  text-decoration: none;
}
